*{
    margin: 0px; padding: 0px;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
}
.main{
    display: flex;
}
.main .left_section{
    width: 50%;
}
.main .left_section img{
    width: 100%;
}
.main .right_section{
    flex: 1;
    padding: 100px;
}
.main .right_section .copy_item{
    margin-bottom:100px;
}
.main .right_section .copy_item .item_title{
    font-size: 24px;
    font-weight: 700;
}
.main .right_section .copy_item .item_contents{
    font-size: 18px;
    margin-top: 40px;
    line-height: 36px;
}
@media only screen and (max-width: 600px) {
    .main .left_section{
        display: none;
    }
    .main .right_section{
        padding:40px;
    }
    .main .right_section .copy_item{
        margin-bottom:80px;
    }
    .main .right_section .copy_item .item_title{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .main .right_section .copy_item .item_contents{
        font-size:14px;
        line-height: 24px;
    }
  }