*{
    margin: 0px; padding: 0px;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
}


.popup_section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0,0,0,0.2);
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}
.popup_section .popup{
    width:400px;
    padding:20px;
    background-color:#fff;
    border-radius: 20px;
}
.popup_section .popup .popup_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size:18px;
}
.popup_section .popup .popup_header img{
    width:16px;
}
.popup_section .popup .popup_contents{
    margin-top:16px;
    font-size:14px;
}
.popup_section .popup .popup_button{
    display: flex;
    justify-content: flex-end;
}
.popup_section .popup .popup_button .check_bt{
    width:96px;
    height:48px;
    background-color:rebeccapurple;
    color:#fff;
    font-size:16px;
    display:flex;
    border-radius: 4px;;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.contact_page{
    width:900px;
    margin:200px auto;
}

.contact_page .page_title{
    font-weight: 700;
    font-size: 28px;
}
.contact_page .page_desc{
    font-size: 16px;
    margin-top: 20px;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    font-weight: 700;
}
input{
    -webkit-appearance: none;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0px;
    padding: 10px 0px;
    margin-bottom:40px;
}
select{
    -webkit-appearance: none;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0px;
    padding: 10px 0px;
    width: 48%;
    margin-top: 24px;
    margin-bottom:40px;
    background-image:url("../img/arrow_down.svg");
    background-size:12px;
    background-repeat: no-repeat;
    background-position: right center;
}
.contact_page .input_items .input_item{
    display: flex;
    justify-content: space-between;
    
}
.contact_page .input_items .input_item input{
    width:48%;
    padding: 10px;
    box-sizing: border-box;
}
.contact_page .input_items .input_item.full_width input{
    width: 100%;
}
textarea{   
    border: 1px solid #000;
    margin: 10px 0px;
    width: 100%;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
}
.button{
    width: 180px;
    line-height: 52px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #181818;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top:16px;
}

@media only screen and (max-width: 600px) {
    .contact_page{
    width:100%;
    padding: 0px 20px;
    box-sizing: border-box;
    margin:80px 0px;
}
    .contact_page .page_desc{
        font-size:14px;
        margin-top:16px;
    }
  }