*{
    margin: 0px; padding: 0px;}
body{
    font-family: 'NanumSquare', sans-serif; }
.header{
    display: flex;
    padding: 0px 70px;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}
.header ul{
    display: flex;
}
.header .mobile_menu{
    display:none;
}
ul{
    list-style: none;
}
li{
    margin-left: 24px;
    font-size: 16px;
    font-weight: 700;
}
.card_items{
    background-color: #eee;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card_item{
    background-color: #fff;
    width:410px;
    height:370px;
    position:relative;
    margin: 24px;
}
.card_item .card_img img{
    width: 100%;
}
.card_contents{
    padding: 20px;
}
.card_contents .card_title{
    font-weight: 700;
    font-size: 18px;
}
.card_contents .card_writer{
    font-size: 14px;
    margin-top: 10px;
}
.card_contents .card_recruit{
    font-size: 15px;
    margin-top: 20px;
    font-weight: 700;
}
.card_contents .card_desc{
    font-size: 14px;
    margin-top: 5px;
    color: #333;
    width: 380px;
    line-height: 20px;
}
.card_contents .card_time{
    font-size:14px;
    bottom: 20px;
    color: #898989;
    position: absolute;
}
@media only screen and (max-width: 600px) {
    .header{
        padding: 0px 20px;
        height: 50px;
    }
    .header .mobile_menu{
        display: block;
    }
    .header .mobile_menu img{
        width: 20px;
    }
    .header ul{
        display: none;
    }
    .card_items{
        padding:20px;
    }
    .card_item{
        width:100%;
        margin:20px 0px;
    }
    .card_contents{
        padding:20px;
    }
    .card_items .card_item .card_contents .card_desc{
        width:280px;
        font-size:14px;
    }
    .card_items .card_item .card_time{
        font-size:12px;
    }
  }